.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 3em;
  width: 100%;
  background-color: rgb(224, 133, 105);
  box-shadow: 3px 3px 3px rgba(224, 133, 105, 0.616);
}

.last {
  position: absolute;
  top: 0;
  right: 0;
}

.kc_fab_main_btn {
  display: none;
}

@media (max-width: 768px) {
  .log-out {
    display: none;
  }

  .kc_fab_main_btn {
    display: block;
    background-color: #f44336;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #ffc106;
    border: none;
    outline: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: fixed;
    bottom: 0.4em;
    right: 0.4em;
    z-index: 1;
  }

  .kc_fab_main_btn:hover {
    transform: scale(1.1);
    transition: all 0.2s;
  }
}
