<div class="login-container">
  <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control"
        name="email"
        ngModel
        email
        aria-describedby="emailHelp"
        placeholder="Enter email"
        #email="ngModel"
        required
      />
      <p
        class="message mt-2"
        style="color: red"
        *ngIf="!email.valid && email.touched"
      >
        Please enter a valid email
      </p>
      <p
        class="message mt-2"
        style="color: green"
        *ngIf="email.valid && email.touched"
      >
        Valid email
      </p>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Password"
        ngModel
        #password="ngModel"
        required
      />
      <p
        class="message mt-2"
        style="color: red"
        *ngIf="!password.valid && password.touched"
      >
        Please enter a valid password
      </p>
      <p
        class="message mt-2"
        style="color: green"
        *ngIf="password.valid && password.touched"
      >
        Valid password
      </p>
    </div>
    <div class="submit-container">
      <div
        class="sub-block mt-2"
        placement="bottom"
        [ngbTooltip]="
          !f.valid
            ? 'Bottone disabilitato. Controlla che email e password siano valide!'
            : ''
        "
      >
        <button
          type="submit"
          class="btn btn-primary px-5 py-2 log"
          [disabled]="!f.valid"
        >
          Log In
        </button>
      </div>
    </div>
  </form>
</div>
