.login-container {
  padding: 1.5em;
  background-color: #c89b9b;
  width: 30em;
  max-width: 80%;
  margin: 4em auto;
  border: solid 2px #c57b7b;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px #c89b9bca;
}

form {
  width: 100%;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

input.ng-invalid.ng-touched:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

input.ng-valid.ng-touched {
  border: 2px solid green;
}

input.ng-valid.ng-touched:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 128, 0, 0.25);
}

.message {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.log:disabled {
  cursor: not-allowed;
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.log {
  width: 100%;
}

.sub-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.error-container {
  margin-top: 3em;
  text-align: center;
  font-size: 50px;
}
