<div class="login-container" *ngIf="errorTextStatus === ''">
  <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        ngModel
        email
        aria-describedby="emailHelp"
        placeholder="Inserisci l'email"
        #email="ngModel"
        required
      />
      <p
        class="message mt-2"
        style="color: red"
        *ngIf="!email.valid && email.touched"
      >
        L'email inserita non è valida
      </p>
      <p
        class="message mt-2"
        style="color: green"
        *ngIf="email.valid && email.touched"
      >
        Email valida
      </p>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        autocomplete="on"
        name="password"
        placeholder="Inserisci la password"
        ngModel
        #password="ngModel"
        required
      />
      <p
        class="message mt-2"
        style="color: red"
        *ngIf="!password.valid && password.touched"
      >
        La password inserita non è valida
      </p>
      <p
        class="message mt-2"
        style="color: green"
        *ngIf="password.valid && password.touched"
      >
        Password valida
      </p>
    </div>
    <div class="submit-container">
      <div
        class="sub-block mt-2"
        placement="top"
        [ngbTooltip]="
          !f.valid
            ? 'Bottone disabilitato. Controlla che email e password siano valide!'
            : ''
        "
      >
        <button
          type="submit"
          class="btn btn-primary px-5 py-2 log"
          [disabled]="!f.valid"
        >
          Accedi
        </button>
      </div>
    </div>
  </form>
</div>

<!-- GESTIONE DEGLI ERRORI NELLE CHIAMATE HTTP -->
<div class="error-container" *ngIf="errorTextStatus !== ''">
  <p>Qualcosa è andato storto!</p>
  <p>
    <strong>{{ errorStatus }} - {{ errorTextStatus }}</strong>
  </p>
  <button type="button" class="btn btn-danger" (click)="setErrorDef()">
    Torna alla pagina di Login
  </button>
</div>
<!-- FINE GESTIONE DEGLI ERRORI NELLE CHIAMATE HTTP -->
