.login-container {
  padding: 1.5em;
  background-color: rgba(224, 133, 105, 0.452);
  width: 30em;
  max-width: 80%;
  margin: 4em auto;
  border: solid 1px #0000009a;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

input.ng-invalid.ng-touched:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

input.ng-valid.ng-touched {
  border: 2px solid green;
}

input.ng-valid.ng-touched:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 128, 0, 0.25);
}

.message {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.log:disabled {
  cursor: not-allowed;
}
