.login-container {
  padding: 1.5em;
  background-color: rgba(224, 133, 105, 0.452);
  width: 30em;
  max-width: 80%;
  margin: 4em auto;
  border: solid 1px #0000009a;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}
