.preview {
  height: 9em;
  display: block;
  margin: auto;
  margin-top: 0.5em;
}

.form-add-votation {
  background-color: rgb(219, 150, 141);
  padding: 1.5em;
  border-radius: 6px;
}

.custom {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.wrapper {
  position: relative;
}

textarea {
  resize: none;
}

.counter {
  font-size: 13px;
  color: rgb(85, 85, 85);
  position: absolute;
  bottom: 1px;
  right: 5px;
}

.container {
  max-width: 45em;
}

.card-form {
  border: 1px solid #ccc;
  padding: 1em;
  position: relative;
  background-color: white;
  border-radius: 6px;
}

.close-button {
  width: 1.5em;
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 3px;
}

.close-button:hover {
  transform: scale(1.1);
}

.close-button:active {
  transform: scale(1.2);
}

.add-button {
  font-weight: bold;
}

.not-display {
  display: none;
}

.back-container {
  position: absolute;
  top: 3em;
  left: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: rgb(224, 53, 53);
  cursor: pointer;
}

.back-container:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

.back-container img {
  width: 30px;
}

.back-container p {
  font-size: 22px;
}

.fab {
  display: none;
}

@media (max-width: 1100px) {
  .back-container {
    display: none;
  }

  .fab {
    display: block;
    border-radius: 50%;
    background-color: rgb(228, 187, 141);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: fixed;
    bottom: 0.65em;
    left: 0.4em;
    border: none;
    width: 60px;
    height: 60px;
    z-index: 10;
  }

  .fab:hover {
    transform: scale(1.1);
    transition: all 0.2s;
  }
}
