<div class="container mt-4 text-center">
  <h3><strong>Aggiungi una votazione</strong></h3>
  <div class="row">
    <div class="col-sm">
      <form [formGroup]="votationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Titolo votazione</label>
          <input
            type="text"
            class="form-control"
            id="title"
            formControlName="title"
          />
        </div>
        <div class="form-group wrapper">
          <label for="descrizone">Descrizione</label>
          <textarea
            class="form-control"
            name="descrizone"
            formControlName="descrizione"
            maxlength="100"
          ></textarea>
          <span class="counter">{{
            "max 100 chars: " +
              votationForm.controls["descrizione"].value.length
          }}</span>
        </div>
        <div class="form-group">
          <label for="dateStart">Data di inizio votazione</label>
          <input type="date" class="form-control" formControlName="dateStart" />
        </div>
        <div class="form-group">
          <label for="dateEnd">Data di fine votazione</label>
          <input type="date" class="form-control" formControlName="dateEnd" />
        </div>
        <hr />
        <div class="form-group card-form">
          <h4>Carta 1</h4>
          <label for="partito1">Nome partito</label>
          <input type="text" class="form-control" formControlName="partito1" />
          <!-- inserimento immagine con preview -->
          <span style="color: red" *ngIf="message">{{ message }}</span>
          <label
            for="partitoImg1"
            class="custom-partitoImg btn btn-primary mt-3"
          >
            Carica immagine partito
          </label>
          <input
            formControlName="partitoImg1"
            id="partitoImg1"
            type="file"
            accept="image/*"
            (change)="preview($event.target, 1)"
          />
          <img
            [src]="imgURL[0]"
            *ngIf="imgURL"
            class="rounded-circle preview"
            [ngClass]="imgURL[0] === undefined ? 'not-display' : ''"
          />
          <!-- fine inserimento immagine con preview -->
        </div>
        <div class="form-group card-form">
          <h4>Carta 2</h4>
          <label for="partito2">Nome partito</label>
          <input type="text" class="form-control" formControlName="partito2" />
          <!-- inserimento immagine con preview -->
          <span style="color: red" *ngIf="message">{{ message }}</span>
          <label
            for="partitoImg2"
            class="custom-partitoImg btn btn-primary mt-3"
          >
            Carica immagine partito
          </label>
          <input
            formControlName="partitoImg2"
            id="partitoImg2"
            type="file"
            accept="image/*"
            (change)="preview($event.target, 2)"
          />
          <img
            [src]="imgURL[1]"
            *ngIf="imgURL"
            class="rounded-circle preview"
            [ngClass]="imgURL[1] === undefined ? 'not-display' : ''"
          />
          <!-- fine inserimento immagine con preview -->
        </div>

        <ng-container formArrayName="cards">
          <div
            class="form-group card-form"
            *ngFor="
              let cardControl of votationForm.get('cards')['controls'];
              let i = index
            "
          >
            <h4>Carta {{ i + 3 }}</h4>
            <ng-container [formGroupName]="i">
              <label for="partito">Nome partito</label>
              <input
                type="text"
                class="form-control"
                formControlName="partito"
              />
              <!-- inserimento immagine con preview -->
              <span style="color: red" *ngIf="message">{{ message }}</span>
              <label
                for="partitoImg"
                class="custom-partitoImg btn btn-primary mt-3"
              >
                Carica immagine partito
              </label>
              <input
                formControlName="partitoImg"
                id="partitoImg"
                type="file"
                accept="image/*"
                (change)="preview($event.target, i)"
              />
              <!-- fine inserimento immagine con preview -->
              <img
                [src]="imgURL[i + 2]"
                *ngIf="imgURL"
                class="rounded-circle preview"
                [ngClass]="imgURL[i + 2] === undefined ? 'not-display' : ''"
              />
            </ng-container>

            <img
              src="assets/icons/close.png"
              alt=""
              class="close-button"
              (click)="onDeleteCard(i)"
            />
            <!-- fine inserimento immagine con preview -->
          </div>
          <div>
            <button
              class="btn btn-primary mb-3 add-button"
              type="button"
              (click)="onAddCard()"
              [disabled]="checkCardsLength()"
            >
              +
            </button>
          </div>
        </ng-container>

        <button class="btn btn-primary mb-5" type="submit">
          Aggiungi votazione
        </button>
      </form>
    </div>
  </div>
</div>
