<div class="back-container" (click)="backToAdminPage()">
  <img src="assets/icons/undo.png" alt="" />
  <p class="back-text mt-4 ml-2">Indietro</p>
</div>
<div class="container mt-4 text-center">
  <h3><strong>Aggiungi una votazione</strong></h3>
  <div class="row">
    <div class="col-sm">
      <form [formGroup]="votationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Titolo votazione</label>
          <input
            type="text"
            class="form-control"
            id="title"
            formControlName="title"
            required
          />
        </div>
        <div class="form-group wrapper">
          <label for="descrizone">Descrizione</label>
          <textarea
            class="form-control"
            name="descrizone"
            formControlName="descrizione"
            maxlength="100"
            required
          ></textarea>
          <span class="counter">{{
            votationForm.controls["descrizione"].value.length + "/100"
          }}</span>
        </div>
        <div class="form-group">
          <label for="dateStart">Data di inizio votazione</label>
          <input
            type="date"
            class="form-control"
            formControlName="dateStart"
            required
          />
        </div>
        <div class="form-group">
          <label for="dateEnd">Data di fine votazione</label>
          <input
            type="date"
            class="form-control"
            formControlName="dateEnd"
            required
          />
        </div>
        <hr />
        <div class="form-group card-form">
          <h4>Carta 1</h4>
          <label for="partito1">Nome</label>
          <input
            type="text"
            class="form-control mb-3"
            formControlName="partito1"
            required
          />
          <!-- inserimento immagine con preview -->
          <span style="color: red" *ngIf="message">{{ message }}</span>
          <input
            formControlName="partitoImg1"
            id="partitoImg1"
            type="file"
            accept="image/*"
            (change)="preview($event.target, 0)"
            required
          />
          <img
            [src]="imgURL[0]"
            *ngIf="imgURL"
            class="rounded-circle preview"
            [ngClass]="imgURL[0] === '' ? 'not-display' : ''"
          />
          <!-- fine inserimento immagine con preview -->
        </div>
        <div class="form-group card-form">
          <h4>Carta 2</h4>
          <label for="partito2">Nome</label>
          <input
            type="text"
            class="form-control mb-3"
            formControlName="partito2"
            required
          />
          <!-- inserimento immagine con preview -->
          <span style="color: red" *ngIf="message">{{ message }}</span>
          <input
            formControlName="partitoImg2"
            id="partitoImg2"
            type="file"
            accept="image/*"
            (change)="preview($event.target, 1)"
            required
          />
          <img
            [src]="imgURL[1]"
            *ngIf="imgURL"
            class="rounded-circle preview"
            [ngClass]="imgURL[1] === '' ? 'not-display' : ''"
          />
          <!-- fine inserimento immagine con preview -->
        </div>

        <ng-container formArrayName="cards">
          <div
            class="form-group card-form"
            *ngFor="
              let cardControl of votationForm.get('cards').controls;
              let i = index
            "
          >
            <h4>Carta {{ i + 3 }}</h4>
            <ng-container [formGroupName]="i">
              <label for="partito">Nome</label>
              <input
                type="text"
                class="form-control mb-3"
                formControlName="partito"
              />
              <!-- inserimento immagine con preview -->
              <span style="color: red" *ngIf="message">{{ message }}</span>
              <input
                formControlName="partitoImg"
                id="partitoImg"
                type="file"
                accept="image/*"
                (change)="preview($event.target, i + 2)"
              />
              <!-- fine inserimento immagine con preview -->
              <img
                [src]="imgURL[i + 2]"
                *ngIf="imgURL"
                class="rounded-circle preview"
                [ngClass]="imgURL[i + 2] === '' ? 'not-display' : ''"
              />
            </ng-container>

            <img
              src="assets/icons/close.png"
              alt=""
              class="close-button"
              (click)="onDeleteCard(i)"
            />
            <!-- fine inserimento immagine con preview -->
          </div>
          <div
            class="m-auto"
            placement="top"
            style="width: 10%"
            [ngbTooltip]="
              checkCardsLength()
                ? 'Sono già state inserite 8 carte di voto!'
                : ''
            "
          >
            <button
              class="btn btn-primary mb-3 add-button"
              type="button"
              (click)="onAddCard()"
              [ngStyle]="{ cursor: checkCardsLength() ? 'not-allowed' : '' }"
              [disabled]="checkCardsLength()"
            >
              +
            </button>
          </div>
        </ng-container>

        <div
          class="m-auto"
          style="width: 30%"
          placement="top"
          [ngbTooltip]="
            !votationForm.valid
              ? 'Bottone disabilitato. Controlla che tutti i campi siano riempiti!'
              : ''
          "
        >
          <button
            class="btn btn-primary mb-5"
            type="submit"
            [ngStyle]="{ cursor: !votationForm.valid ? 'not-allowed' : '' }"
            [disabled]="!votationForm.valid"
          >
            Aggiungi votazione
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- INIZIO NOTIFICA VOTAZIONE AGGIUNTA -->
<ngb-alert
  class="notifica"
  #staticAlert
  *ngIf="!staticAlertClosed"
  type="success"
>
  <strong>Votazione aggiunta correttamente!</strong>
  <hr />
  <p>
    Ora puoi crearne un'altra, eliminare quelle già esistenti o effettuare il
    log out.
  </p>
</ngb-alert>
<!-- FINE NOTIFICA VOTAZIONE AGGIUNTA -->
