<!--   <countdown [config]="{ leftTime: 600 }" class="timer px-5 py-3"></countdown> -->

<!-- <div class="card" style="width: 18rem">
  <img
    class="card-img-top"
    [src]="selectedVotation.option1.imgPath"
    [alt]="selectedVotation.title"
  />
  <div class="card-body">
    <h3 class="card-title">{{ selectedVotation.option1.name }}</h3>
  </div>
	</div>
 -->

<section id="vote-container">
  <div class="container my-4 py-3 text-center">
    <div class="row my-toprow">
      <div class="col">
        <h1>Votazione: {{ selectedVotation.title }}</h1>
        <p class="rules" (click)="onShowRules()">
          {{ !showRules ? "Apri" : "Chiudi" }} le regole da seguire per la
          votazione:
          <img
            src="assets/icons/down.png"
            alt="saf"
            class="dropdown-img"
            *ngIf="!showRules"
          />
          <img
            src="assets/icons/up.png"
            alt="saf"
            class="dropdown-img"
            *ngIf="showRules"
          />
        </p>

        <ul *ngIf="showRules">
          <li>È possibile votare <strong>un solo</strong> partito.</li>
          <li>
            Per votare è necessario fare un
            <strong>doppio click (da PC)</strong> o
            <strong>doppio tap (da mobile)</strong> sulla scheda del partito da
            votare. Si può fare nuovamente la stessa operazione sul partito
            scelto per <strong>annulare</strong> la scelta.
          </li>
          <li>
            Una volta scelto il partito da votare, cliccare sul bottone
            <strong>"Termina votazione"</strong>. A questo punto si aprià una
            finestra in cui si potrà confermare la votazione o tornare indietro.
            Tale bottone rimarrà <strong>disabilitato</strong> fino a che non si
            avrà fatto una scelta.
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6" *ngFor="let option of optionsArr">
        <div
          class="card disable-select"
          (dblclick)="
            (option === selectedCard || selectedCard === undefined) &&
              choisedCard(option)
          "
          [ngClass]="classesCardSelector(option)"
        >
          <div class="card-body">
            <img
              [src]="option.imgPath"
              [alt]="'logo ' + option.name"
              class="img-fluid rounded-circle w-75 mb-3"
            />
            <h3>{{ option.name }}</h3>
            <p>Lorem Ipsum</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button
        class="btn btn-primary m-auto"
        [disabled]="selectedCard === undefined"
        (click)="openModal(content)"
      >
        Termina votazione
      </button>
    </div>
  </div>
</section>

<!-- MODALE -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Stai per terminare la votazione
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p>Hai scelto:</p>
    <img
      [src]="selectedCard.imgPath"
      [alt]="'logo ' + selectedCard.name"
      class="img-fluid rounded-circle w-50 m-auto"
    />
    <h3>{{ selectedCard.name }}</h3>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Indietro
    </button>
    <button type="button" class="btn btn-success" (click)="modal.close()">
      Conferma voto
    </button>
  </div>
</ng-template>
<!-- FINE MODALE -->
