.dropdown-img {
  width: 1.2em;
  margin: 0 0.5em !important;
  padding: 0;
  -webkit-animation: action 0.7s infinite alternate;
  animation: action 0.7s infinite alternate;
}

.rules {
  font-size: 18px;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.my-toprow {
  margin-bottom: 5em;
}

.rules:hover {
  cursor: pointer;
}

#vote-container img {
  margin-top: -80px;
}

#vote-container .card {
  height: 18em;
  border-radius: 0;
  box-shadow: 5px 5px 15px #ccc;

  transition: all 0.3 ease-in;
  -webkit-transition: all 0.3 ease-in;
  -moz-transition: all 0.3 ease-in;
  cursor: pointer;

  margin-bottom: 5em; /* Added */
}

#vote-container .hover-behaviour:hover {
  transform: scale(1.05);
  background-color: rgba(236, 174, 234, 0.52);
  color: rgb(0, 0, 0);
  border: none;
  box-shadow: 5px 5px 10px rgba(131, 85, 131, 0.644);
}

.selected {
  background-color: rgba(236, 174, 234, 0.52);
}

.not-selected {
  background-color: rgba(70, 64, 64, 0.315);
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.btn:disabled {
  cursor: not-allowed;
}

@media (max-width: 768px) {
  #vote-container .card img {
    width: 10em !important;
    height: 10em;
  }
}

@-webkit-keyframes action {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(3px);
  }
}
@keyframes action {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(3px);
  }
}
