.title-list {
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgba(204, 204, 204, 0.637);
}

.header-list {
  text-align: center;
  min-height: 2em;
  font-size: 18px;
  text-align: center;
  color: #6d1c1b;
  background-color: rgba(139, 139, 139, 0.637);
}

.my-row,
.my-row-clickable {
  min-height: 2.5em;
  text-align: center;
}

.my-row-clickable:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.3s;
}

.my-row-clickable:active {
  transform: scale(1);
  transition: all 0.3s;
}

.dark {
  background-color: rgba(116, 105, 105, 0.664);
}

.light {
  background-color: rgba(224, 211, 211, 0.897);
}

@media (max-width: 768px) {
  .my-row,
  .my-row-clickable {
    font-size: 14px;
  }

  .header-list {
    font-size: 16px;
  }
}
