.title-list {
  text-align: center;
  border: 2px solid rgb(209, 195, 195);
  background-color: rgb(204, 204, 204);
}

.header-list {
  text-align: center;
  min-height: 2em;
  font-size: 18px;
  text-align: center;
  color: #6d1c1b;
  background-color: rgb(139, 139, 139);
}

.my-row {
  min-height: 2.5em;
  text-align: center;
  position: relative;
}

.future-date {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(98, 98, 98, 0.904);
  font-weight: bold;
  margin-top: -0.5em;
  margin-left: -0.5em;
}

.future-text {
  font-weight: bold;
  font-size: 22px;
  color: rgb(219, 24, 24);
}

.clickable {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: rgb(170, 156, 156);
}

.light {
  background-color: rgb(224, 211, 211);
}

.bolded {
  font-weight: bold;
  color: rgb(131, 24, 24);
  margin-bottom: 0.3em;
}

@media (min-width: 580px) {
  .clickable:hover {
    transform: scale(1.03);
    transition: all 0.3s;
  }

  .clickable:active {
    transform: scale(1);
    transition: all 0.3s;
  }
}

@media (max-width: 768px) {
  .my-row {
    font-size: 14px;
  }

  .header-list {
    font-size: 16px;
  }

  .generic-container {
    max-width: 98%;
  }
}
