.title-list {
  text-align: center;
  border: 2px solid rgb(209, 195, 195);
  background-color: rgba(204, 204, 204, 0.637);
}

.header-list {
  text-align: center;
  min-height: 2em;
  font-size: 18px;
  text-align: center;
  color: #6d1c1b;
  background-color: rgba(139, 139, 139, 0.637);
}

.my-row {
  min-height: 2.5em;
  text-align: center;
}
.clickable {
  cursor: pointer;
}

@media (min-width: 580px) {
  .clickable:hover {
    transform: scale(1.03);
    transition: all 0.3s;
  }

  .clickable:active {
    transform: scale(1);
    transition: all 0.3s;
  }
}

.dark {
  background-color: rgba(116, 105, 105, 0.664);
}

.light {
  background-color: rgba(224, 211, 211, 0.897);
}

.bolded {
  font-weight: bold;
  color: rgb(131, 24, 24);
  margin-bottom: 0.3em;
}

@media (max-width: 768px) {
  .my-row {
    font-size: 14px;
  }

  .header-list {
    font-size: 16px;
  }
}
