<div *ngIf="!startVotation">
  <!-- NOTIFICA DI ACCESSO -->
  <ngb-alert
    class="notifica"
    #staticAlert
    *ngIf="!staticAlertClosed"
    type="success"
  >
    <strong>Ti sei autenticato correttamente!</strong>
    <hr />
    <p>
      Ora puoi iniziare una nuova votazione o vedere cosa hai votato in passato.
    </p>
  </ngb-alert>
  <!-- FINE NOTIFICA DI ACCESSO -->

  <div class="container my-4">
    <div class="row title-list">
      <div class="col">
        <h3 class="mt-2"><strong>Votazioni disponibili</strong></h3>
      </div>
    </div>
    <div class="row header-list">
      <div class="col-sm-3 center"><strong>Votazione</strong></div>
      <div class="col-sm-2 center"><strong>Data inizio</strong></div>
      <div class="col-sm-2 center"><strong>Data fine</strong></div>
      <div class="col-sm-5 center"><strong>Descrizione</strong></div>
    </div>

    <div
      class="row my-row p-2"
      *ngFor="let votation of uncompletedVotations; let i = index"
      [ngClass]="{
        dark: i % 2 == 0,
        light: i % 2 != 0,
        clickable: checkDataStart(votation.dataStart)
      }"
      (click)="
        checkDataStart(votation.dataStart) && openModal(content, votation)
      "
    >
      <div class="col-sm-3 center">
        <strong>{{ votation.title }}</strong>
      </div>
      <div
        class="col-sm-2 center"
        [ngClass]="checkDataStart(votation.dataStart) ? '' : 'bolded'"
      >
        {{
          checkDataStart(votation.dataStart)
            ? (votation.dataStart | date: "dd/MM/yyyy")
            : "Inizierà il " + (votation.dataStart | date: "dd/MM/yyyy")
        }}
      </div>
      <div class="col-sm-2 center">
        {{ votation.dataEnd | date: "dd/MM/yyyy" }}
      </div>
      <div class="col-sm-5 center">
        {{ votation.description }}
      </div>
      <div
        *ngIf="!checkDataStart(votation.dataStart)"
        class="col-sm-12 future-date"
      >
        <p class="future-text mt-3">
          Questa votazione inizierà il
          {{ votation.dataStart | date: "dd/MM/yyyy" }}
        </p>
      </div>
    </div>
    <div class="row title-list mt-4">
      <div class="col">
        <h3 class="mt-2"><strong>Votazioni che hai già concluso</strong></h3>
      </div>
    </div>
    <div class="row header-list">
      <div class="col-sm-3 center"><strong>Votazione</strong></div>
      <div class="col-sm-5 center"><strong>Descrizione</strong></div>
      <div class="col-sm-4 center"><strong>Voto</strong></div>
    </div>
    <div
      class="row my-row p-2"
      *ngFor="let votation of completedVotations; let i = index"
      [ngClass]="i % 2 == 0 ? 'dark' : 'light'"
    >
      <div class="col-sm-3 center">
        <strong>{{ votation.title }}</strong>
      </div>
      <div class="col-sm-5 center">
        {{ votation.description }}
      </div>
      <div class="col-sm-4 center">{{ votation.result }}</div>
    </div>
  </div>
</div>

<!-- MODALE -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Stai per iniziare la votazione
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>La votazione ha:</p>
    <ul>
      <li><strong>Nome: </strong> {{ selectedVotation.title }}</li>
      <li><strong>Descrizione: </strong> {{ selectedVotation.description }}</li>
      <li>
        <strong>Data Inizio: </strong>
        {{ selectedVotation.dataStart | date: "dd/MM/yyyy" }}
      </li>
      <li>
        <strong>Data Fine: </strong>
        {{ selectedVotation.dataEnd | date: "dd/MM/yyyy" }}
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Indietro
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close(); openVotation()"
    >
      Inizia votazione
    </button>
  </div>
</ng-template>
<!-- FINE MODALE -->

<app-form-votazione
  *ngIf="startVotation"
  [selectedVotation]="selectedVotation"
  [(startVotation)]="startVotation"
  [(completedVotations)]="completedVotations"
  [(uncompletedVotations)]="uncompletedVotations"
></app-form-votazione>
