@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notifica {
  position: fixed;
  right: 0;
  bottom: -1em;
  width: 30em;
  max-width: 80%;
}
